@media screen and (max-width: 800px) {
    .flex-container-main {
        background-color: forestgreen;
    }
}

@media screen and (max-width: 800px) {
    .circle {
        background-color: firebrick;
        height: 150px;
    }
}

@media screen and (max-width: 800px) {
    .square {
        background-color: aquamarine;
        height: 150px;
    }
}

@media screen and (max-width: 800px) {
    .flex-container-main-first-border {
        background-color: crimson;
        border-color: blue;
    }
}

@media screen and (max-width: 800px) {
    .flex-item-text {
        background-color: chocolate;
        font-size: 1.5em;
    }
}

@media screen and (max-width: 800px) {
    .flex-item-text {
        background-color: chocolate;
        font-size: 1.5em;
    }
}